-
  const pages = [1, 2, 3, 4, 5]
  const currentPage = 1
  const products = require('data/products.data.js')

h2.visually-hidden Unser Schmucksortiment
.catalog__container
  section.catalog__filter.catalog__filter--nojs
    h3.visually-hidden Produkte filtern
    +button({
      text: 'Filter',
      type: 'button',
      attrs: {
        id: 'filter',
        class: 'catalog__filter-button'
      }
    })
    .catalog__filter-wrapper
      +filterForm({
        parent: 'catalog',
        attrs: {
          class: 'filter'
        }
      })
  section.catalog__products
    h3.visually-hidden Produktliste
    include  product-list.pug
    +paginator({
      pages: pages,
      current: currentPage
    })
