-
	const faqItems = require('data/faq.data.js')

h2 Häufig gestellte Fragen

ul.faq__list.accordion.accordion--js
	each item in faqItems
		+accordionItem({
			question: item.question,
			answer: item.answer,
			parent: 'faq',
			baseClass: 'accordion'
		})
