section.footer__nav.footer-nav
  h2.visually-hidden Footer-Navigation

  ul.footer-nav__list
    +footerNavItem({ text: 'Bestellung & Zahlung'})
    +footerNavItem({ text: 'Allgemeine Geschäftsbedingungen'})
    +footerNavItem({ text: 'Rückgabe & Umtausch'})
    +footerNavItem({ text: 'Lieferung'})

  ul.footer-nav__list
    +footerNavItem({ text: 'Über CH' })
    +footerNavItem({ text: 'Geschäfte & Öffnungszeiten' })
    +footerNavItem({ text: 'Jobs' })
    +footerNavItem({ text: 'Kontakt' })

