-
  const gallery = require('data/gallery.data.js')

h2.gallery__title @formajewels
a.gallery__link(href="#") Folge uns

ul.gallery__list
  each item in gallery
    li.gallery__item(class=item.class)
      +picture({
        webp: item.webp,
        webp2x: item.webp2x,
        jpg: item.jpg,
        jpg2x: item.jpg2x,
        alt: item.alt,
        width: item.width,
        height: item.height
      })
