-
  const gallery = [
    {
      webp: 'img/images/gallery-8.webp',
      webp2x: 'img/images/gallery-8@2x.webp',
      jpg: 'img/images/gallery-8.jpg',
      jpg2x: 'img/images/gallery-8@2x.jpg',
      alt: 'Quadratische Ohrringe',
      width: 230,
      height: 230,
      class: ''
    },
    {
      webp: 'img/images/gallery-2.webp',
      webp2x: 'img/images/gallery-2@2x.webp',
      jpg: 'img/images/gallery-2.jpg',
      jpg2x: 'img/images/gallery-2@2x.jpg',
      alt: 'Große Ohrringe',
      width: 400,
      height: 414,
      class: 'gallery__item--big'
    },
    {
      webp: 'img/images/gallery-4.webp',
      webp2x: 'img/images/gallery-4@2x.webp',
      jpg: 'img/images/gallery-4.jpg',
      jpg2x: 'img/images/gallery-4@2x.jpg',
      alt: 'Großes Armband',
      width: 232,
      height: 193,
      class: 'gallery__item--hidden'
    },
    {
      webp: 'img/images/gallery-6.webp',
      webp2x: 'img/images/gallery-6@2x.webp',
      jpg: 'img/images/gallery-6.jpg',
      jpg2x: 'img/images/gallery-6@2x.jpg',
      alt: 'Goldene Ohrringe',
      width: 218,
      height: 218,
      class: 'gallery__item--hidden'
    },
    {
      webp: 'img/images/gallery-1.webp',
      webp2x: 'img/images/gallery-1@2x.webp',
      jpg: 'img/images/gallery-1.jpg',
      jpg2x: 'img/images/gallery-1@2x.jpg',
      alt: 'Ohrringe mit Edelsteinen',
      width: 230,
      height: 154,
      class: ''
    },
    {
      webp: 'img/images/gallery-5.webp',
      webp2x: 'img/images/gallery-5@2x.webp',
      jpg: 'img/images/gallery-5.jpg',
      jpg2x: 'img/images/gallery-5@2x.jpg',
      alt: 'Schmuckset',
      width: 218,
      height: 191,
      class: ''
    },
    {
      webp: 'img/images/gallery-7.webp',
      webp2x: 'img/images/gallery-7@2x.webp',
      jpg: 'img/images/gallery-7.jpg',
      jpg2x: 'img/images/gallery-7@2x.jpg',
      alt: 'Schmuckset',
      width: 232,
      height: 166,
      class: ''
    }
  ]


h2.gallery__title @formajewels
a.gallery__link(href="#") Folge uns

ul.gallery__list
  each item in gallery
    li.gallery__item(class=item.class)
      +picture({
        webp: item.webp,
        webp2x: item.webp2x,
        jpg: item.jpg,
        jpg2x: item.jpg2x,
        alt: item.alt,
        width: item.width,
        height: item.height
      })
