section.main__promo.promo
  include promo-main.pug

section.main__new-in.new-in
  include new-in.pug

section.main__values.main__section.values
  include values.pug

section.main__faq.main__section.faq
  //- контент faq include faq

section.main__gallery.main__section.gallery
  //- контент gallery include gallery
