section.main__promo.promo
  include promo-main.pug

section.main__new-in.new-in
  include new-in.pug

section.main__blog.main__section.blog
  //- контент blog include blog

section.main__faq.main__section.faq
  //- контент faq include faq

section.main__gallery.main__section.gallery
  //- контент gallery include gallery
