@use 'utils/variables' as vars;

.accordion__content {
	margin-top: 12px;
}
.accordion--js .accordion__content {
	display: none;
}

.accordion__tab--open .accordion__content {
	display: block;
}

.accordion__tab--open {
	padding-bottom: 48px;

	@media (max-width: vars.$tablet-width) {
		padding-bottom: 48px;
	}
}
.accordion--js .accordion__button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;

	background-color: transparent;
	border: none;
	cursor: pointer;

	@media (max-width: vars.$desktop-width) {
		padding-right: 52px;
	}

	@media (max-width: vars.$tablet-width) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		padding: inherit;

		background: none;
		border: none;
		cursor: pointer;
	}
}

.accordion__icon--close {
	display: none;
}

.accordion__tab--open .accordion__icon--open {
	display: none;
}

.accordion__tab--open .accordion__icon--close {
	display: block;
}

.accordion__button svg {
	color: vars.$basic-brown;
	fill: transparent;
	pointer-events: none;

	@media (max-width: vars.$desktop-width) {
		transform: scale(1.5);
	}

	@media (max-width: vars.$tablet-width) {
		transform: scale(1.3);
	}
}
