@use 'utils/variables' as vars;

.product-card {
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
}

.product-card__image {
	grid-row: 1 / 2;
}

.product-card__description {
	grid-row: 2 / 3;
	width: 100%;
	padding: 19px 0 23px;
	text-align: center;

	@media (max-width: vars.$tablet-width) {
		padding-top: 15px;
	}

	p {
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
	}

	p:last-child {
		margin-top: 5px;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
	}
}

.product-card__image picture,
.product-card__image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
