@mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
}

@mixin bg-image-set($path, $name) {
	background-image: image-set(
		url('#{$path}/#{$name}@1x.webp') type('image/webp') 1x,
		url('#{$path}/#{$name}@2x.webp') type('image/webp') 2x,
		url('#{$path}/#{$name}@1x.jpg') type('image/jpeg') 1x,
		url('#{$path}/#{$name}@2x.jpg') type('image/jpeg') 2x
	);
}
