/* ======================================
   Colors
   ====================================== */

$basic-black: #1d1613;
$basic-brown: #b7a27a;
$basic-white: #ffffff;
$bg-beige: #f0eae4;
$bg-black: #000000;
$bg-range: #f0eae4;
$border-grey: #f6f5f4;
$field-white: rgba(255, 255, 255, 0.15);
$sub-white: rgba(255, 255, 255, 0.75);
$filter-brown: rgba(86, 64, 52, 0.7);
$placeholder-grey: #9b9997;
$text-black: #1d1613;

/* ======================================
   Typography
   ====================================== */

$poppins: 'Poppins', 'Arial', sans-serif;
$cormorant: 'Cormorant Garamond', 'Times New Roman', serif;

/* ======================================
   Brackpoint
   ====================================== */

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$desktop: 1366px;

$z-filter-overlay: 100;
$z-modal: 200;
