/* ======================================
   Typography
   ====================================== */
@use '../utils/variables' as vars;

body {
	font-family: vars.$poppins;
	font-size: 16px;
	line-height: 1.5;
	color: vars.$basic-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

@mixin title {
	margin: 0;
	font-family: vars.$cormorant;
	font-size: 34px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: 0;
	text-align: center;
}
