/* ======================================
   Typography
   ====================================== */
@use '../utils/variables' as vars;

body {
	font-family: vars.$poppins;
	font-size: 16px;
	line-height: 1.5;
	color: vars.$basic-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
