@use 'utils/variables' as vars;
@use 'base/typography';

.faq {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	background-color: vars.$basic-white;

	h2 {
		@include typography.title;
		margin-bottom: 50px;
		letter-spacing: 0.03em;
	}

	@media (max-width: vars.$desktop-width) {
		width: 100%;
	}

	@media (max-width: vars.$tablet-width) {
		h2 {
			margin-bottom: 29px;
		}
	}

	/* accordion button ONLY inside faq */
	.accordion__button {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0;
		background: none;
		border: none;
		cursor: pointer;
		text-align: left;
	}
}

.faq__list {
	border: 1px solid vars.$basic-brown;
}

.faq__item {
	margin: 20px;
	padding: 42px;
	text-align: left;

	&:not(:first-child) {
		border-top: 1px solid vars.$basic-brown;
	}

	@media (max-width: vars.$desktop-width) {
		padding: 42px 50px;
	}

	@media (max-width: vars.$tablet-width) {
		padding: 18px 25px;
	}
}

.faq__title {
	margin: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;

	@media (max-width: vars.$tablet-width) {
		font-size: 16px;
		line-height: 22px;
	}
}

.faq__icon {
	flex-shrink: 0;
	margin-left: 16px;
	color: vars.$basic-brown;
	transition: transform 0.3s ease;
}

/* rotate arrow when open */
.accordion__tab--open .faq__icon {
	transform: rotate(180deg);
}

.faq__content {
	margin-top: 25px;

	p {
		max-width: 527px;
		margin: 0;
		padding-top: 8px;
		font-size: 16px;
		line-height: 21px;
	}

	@media (max-width: vars.$desktop-width) {
		p {
			max-width: unset;
			padding-top: 27px;
		}
	}

	@media (max-width: vars.$tablet-width) {
		margin-top: 12px;

		p {
			font-size: 14px;
			line-height: 20px;
			padding-top: 12px;
		}
	}
}
