@use 'utils/variables' as vars;
@use 'base/typography';

.faq {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	background-color: vars.$basic-white;

	h2 {
		@include typography.title;
		margin-bottom: 50px;
		letter-spacing: 0.03em;
	}

	@media (max-width: vars.$desktop-width) {
		width: 100%;
	}

	@media (max-width: vars.$tablet-width) {
		h2 {
			margin-bottom: 29px;
		}
	}
}

.faq__list {
	border: 1px solid vars.$basic-brown;
}

.faq__item {
	position: relative;
	margin: 20px;
	padding: 42px;
	text-align: left;

	&:not(:first-child) {
		border-top: 1px solid vars.$basic-brown;
	}

	@media (max-width: vars.$desktop-width) {
		padding: 42px 50px;
	}

	@media (max-width: vars.$tablet-width) {
		padding: 18px 25px;
	}
}

.faq__item h3 {
	margin: 0;
	margin-right: 50px;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;

	@media (max-width: vars.$tablet-width) {
		margin-right: 55px;
		font-size: 16px;
		line-height: 22px;
	}
}

.faq__item p {
	max-width: 527px;
	margin: 25px 45px 0 0;
	padding: 8px 0 0;
	font-size: 16px;
	line-height: 21px;

	@media (max-width: vars.$desktop-width) {
		max-width: unset;
		margin-left: 0;
		padding-top: 27px;
	}

	@media (max-width: vars.$tablet-width) {
		margin-right: 33px;
		padding-top: 12px;
		font-size: 14px;
		line-height: 20px;
	}
}
