@use 'utils/variables' as vars;

.footer-social__list {
	margin: 0;
	padding: 0;
	list-style: none;

	@media (max-width: vars.$tablet-width) {
		display: flex;
		flex-wrap: wrap;
	}
}

.footer-social__item {
	&:not(:last-child) {
		margin-bottom: 21px;
	}

	@media (max-width: vars.$desktop-width) {
		&:not(:last-child) {
			margin-bottom: 22px;
		}
	}

	@media (max-width: vars.$tablet-width) {
		margin: 0 36px 15px 0;
	}
}

.footer-social__link {
	display: flex;

	&:hover,
	&:focus {
		opacity: 0.5;
	}

	&:active {
		opacity: 0.7;
	}

	p {
		margin: 0;
		padding-left: 10px;
	}

	@media (max-width: vars.$tablet-width) {
		p {
			display: none;
		}

		svg {
			transform: scale(1.5);
		}
	}
}
