@use 'utils/variables' as vars;
@use 'base/typography';

.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery__title {
	@include typography.title;
	letter-spacing: 0.03em;
}

.gallery__link {
	margin: 30px 50px 60px;
	text-align: center;
	line-height: 26px;
	border-bottom: 1px solid vars.$basic-brown;

	&:hover,
	&:focus {
		opacity: 0.5;
	}

	&:active {
		opacity: 0.7;
	}

	@media (max-width: vars.$desktop-width) {
		margin-top: 19px;
	}

	@media (max-width: vars.$tablet-width) {
		margin-top: 17px;
		margin-bottom: 47px;
	}
}

.gallery__list {
	display: grid;
	width: 100%;
	grid-template-columns: 19.65% 15.9% 15.9% 19.65% 19.65%;
	grid-template-rows: 49.6% 32.6%;
	column-gap: 27px;
	row-gap: 32px;

	@media (max-width: vars.$desktop-width) {
		column-gap: 16px;
		row-gap: 20px;
	}

	@media (max-width: vars.$tablet-width) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 35% 22% 23%;
		column-gap: 24px;
		row-gap: 25px;
	}
}

.gallery__item {
	picture,
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.gallery__item--big {
	grid-column: 2 / 4;
	grid-row: 1 / 3;

	@media (max-width: vars.$tablet-width) {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}
}

.gallery__item--hidden {
	@media (max-width: vars.$tablet-width) {
		display: none;
	}
}
