@use 'utils/variables' as vars;

.main__section {
	max-width: 1366px;
	margin: 0 auto;
}

.main__faq {
	padding: 118px 96px 0;

	@media (max-width: vars.$desktop-width) {
		padding: 68px 45px 0;
	}

	@media (max-width: vars.$tablet-width) {
		padding: 59px 15px 0;
	}
}

.main__gallery {
	padding: 101px 96px 77px;

	@media (max-width: vars.$desktop-width) {
		padding: 68px 45px 50px;
	}

	@media (max-width: vars.$tablet-width) {
		padding: 61px 15px 45px;
	}
}
