@use 'utils/variables' as vars;

.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 27px;

	@media (max-width: vars.$desktop-width) {
		row-gap: 25px;
	}

	@media (max-width: vars.$tablet-width) {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 7px;
	}
}
