@use 'utils/variables' as vars;
@use 'utils/mixins' as mixins;

.promo {
	position: relative;
	padding: 181px 15px;
	font-family: vars.$cormorant;
	text-align: center;
	color: vars.$basic-white;
	background-color: vars.$basic-brown;

	@include mixins.bg-image-set('../img/images', 'bg-promo-desktop');

	background-position: center;
	background-size: cover;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-color: vars.$filter-brown;
	}

	@media (max-width: vars.$desktop-width) {
		padding-right: 37px;
		@include mixins.bg-image-set('../img/images', 'bg-promo-tablet');
	}

	@media (max-width: vars.$tablet-width) {
		padding: 190px 15px;
		@include mixins.bg-image-set('../img/images', 'bg-promo-mobile');
	}

	h2 {
		position: relative;
		max-width: 280px;
		margin: 0 auto;
		font-style: italic;
		font-weight: 400;
		font-size: 38px;
		line-height: 43px;

		@media (max-width: vars.$tablet-width) {
			font-size: 34px;
			line-height: 36px;
		}

		span {
			display: block;
			font-weight: 700;
			font-size: 45px;
			font-style: normal;
			line-height: 58px;
			letter-spacing: 0.03em;
			text-transform: uppercase;

			@media (max-width: vars.$tablet-width) {
				font-size: 38px;
				line-height: 47px;
			}
		}
	}
}

.promo--catalog {
	padding: 92px 15px;

	@include mixins.bg-image-set('../img/images', 'bg-promo-catalog-desktop');

	@media (max-width: vars.$desktop-width) {
		@include mixins.bg-image-set(
			'../img/images',
			'bg-promo-catalog-tablet'
		);
	}

	@media (max-width: vars.$tablet-width) {
		padding: 84px 15px 78px;
		@include mixins.bg-image-set(
			'../img/images',
			'bg-promo-catalog-mobile'
		);
	}

	h2 {
		max-width: 540px;
		font-weight: 500;
		font-size: 22px;
		line-height: 33px;

		@media (max-width: vars.$desktop-width) {
			max-width: 100%;
			font-size: 20px;
		}

		span {
			font-size: 34px;
			line-height: 44px;
			letter-spacing: normal;

			@media (max-width: vars.$tablet-width) {
				line-height: 30px;
			}
		}

		@media (max-width: vars.$tablet-width) {
			padding: 0 15px;
			font-size: 22px;
		}
	}
}
