mixin button(props)
  -
    var text = props.text || ''
    var type = props.type || 'button'

    var baseClass = 'button'
    var modClass = props.mod ? ' button--' + props.mod : ''
    var parentClass = props.parent ? ' ' + props.parent + '__button' : ''

    var classes = baseClass + modClass + parentClass
    var attrs = props.attrs || {}

  button(
    type=type
    class=classes
  )&attributes(attrs) #{text}


