mixin link(props = {})
  -
    var text = props.text || ''

    var block = props.block || ''

    var modClass = props.mod && block ? ' ' + block + '--' + props.mod
      : ''
    var parentClass = props.parent ? ' ' + props.parent + '__' + (props.elem || block) : ''
    var classes = (block + modClass + parentClass).trim()

    var href = props.href || '#'
    var attrs = props.attrs || {}

  a(
    href=href
    class=classes
  )&attributes(attrs)
    if text
      | #{text}
    block

