/* ======================================
   Page layout
   ====================================== */

.page {
	position: relative;
	display: grid;
	grid-template-rows: min-content 1fr;
	min-width: $mobile-width;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: $poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0;
	word-wrap: normal;
	color: $text-black;
	background-color: $basic-white;

	&--js {
		overflow: hidden;
	}
}
