@use 'utils/variables' as vars;

.page {
	position: relative;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-width: vars.$mobile-width;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
	font-family: vars.$poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	color: vars.$text-black;
	background-color: vars.$basic-white;

	&--js,
	&--menu-open {
		overflow: hidden;
	}
}
