// utils
@use 'utils/variables';
@use 'utils/swiper';

// base
@use 'base/fonts';
@use 'base/reset';
@use 'base/typography';
@use 'base/base';

/* layout */
@use 'layout/page';

/* components */
@use 'components/nav-list';
@use 'components/sub-list';
@use 'components/user-menu';
@use 'components/product-card';
@use 'components/accordion';
@use 'components/filter';
@use 'components/range';
@use 'components/paginator';

/* blocks */
@use 'blocks/header';
@use 'blocks/main';
@use 'blocks/promo';
@use 'blocks/new-in';
@use 'blocks/values';
@use 'blocks/faq';
@use 'blocks/gallery';
@use 'blocks/catalog';
@use 'blocks/products';
@use 'blocks/footer';
@use 'blocks/footer-nav';
@use 'blocks/footer-social';
@use 'blocks/form-footer';
@use 'blocks/overlay';
@use 'blocks/modal-login';
